<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6  well">
        <form class="form-horizontal">
            <div class="form-group" ng-class="{'has-error':prerequisite.name}">
                <label for="name" class="col-sm-3 control-label">İsim</label>
                <div class="col-sm-6">
                    <input id="name" class="form-control input-sm" ng-model="account.name">
                    <span ng-if="prerequisite.name" class="help-block">{{prerequisite.name}}</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':prerequisite.type}">
                <label for="type" class="col-sm-3 control-label">Hesap Türü</label>
                <div class="col-sm-6">
                    <select id="type" ng-model="account.type" class="form-control input-sm">
                        <option value="ATA_CUSTOM">Ata Online Hesabı</option>
                        <option value="MT4">MetaTrader 4 Hesabı</option>
                    </select>
                    <span ng-if="prerequisite.type" class="help-block">{{prerequisite.type}}</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':prerequisite.accountNo}">
                <label for="accountNo" class="col-sm-3 control-label">Hesap No</label>
                <div class="col-sm-6">
                    <input id="accountNo" class="form-control input-sm" ng-model="account.accountNo">
                    <span ng-if="prerequisite.accountNo" class="help-block">{{prerequisite.accountNo}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="accountPassword" class="col-sm-3 control-label">Hesap Şifresi</label>
                <div class="col-sm-6">
                    <input id="accountPassword" class="form-control input-sm" ng-model="account.accountPassword">
                </div>
            </div>
            <div class="form-group">
                <label for="server" class="col-sm-3 control-label">Hesap Sunucusu</label>
                <div class="col-sm-6">
                    <input id="server" class="form-control input-sm" ng-model="account.server">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-1">
                    <button ng-hide="account.id" class="btn btn-sm btn-primary" ng-click="create(account)">Kaydet</button>
                    <button ng-show="account.id" class="btn btn-sm btn-primary" ng-click="update(account)">Güncelle</button>
                </div>
            </div>
        </form>
        </div>
        <div ng-if="account.id" class="col-sm-offset-3 col-sm-6  well">
            <h4>Bağlı Stratejiler
                <button class="btn btn-xs btn-success" ng-click="openBindModal()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button></h4>
            <table class="table table-striped table-condensed">
                <thead>
                <th>S</th>
                <th>H</th>
                <th>Strateji</th>
                <th>Lot</th>
                <th>Sembol</th>
                <th>Period</th>
                <th></th>
                </thead>
                <tbody>
                <tr ng-repeat="boundStrategy in strategies">
                    <td>
                        <i ng-show="boundStrategy.strategy.state == 'ACTIVE'"
                           class="glyphicon glyphicon-play-circle text-success"></i>
                        <i ng-show="boundStrategy.strategy.state == 'INACTIVE'"
                           class="glyphicon glyphicon-pause text-danger"></i>
                    </td>
                    <td>
                        <i ng-show="boundStrategy.state == 'ACTIVE'"
                           class="glyphicon glyphicon-play-circle text-success"></i>
                        <i ng-show="boundStrategy.state == 'INACTIVE'"
                           class="glyphicon glyphicon-pause text-danger"></i>
                    </td>
                    <td>{{ boundStrategy.strategy.name }}</td>
                    <td>{{ boundStrategy.lot }}</td>
                    <td>{{ boundStrategy.strategy.symbol }}</td>
                    <td>{{ boundStrategy.strategy.period | period }}</td>
                    <td>
                        <button class="btn btn-xs btn-danger" ng-click="unbindAccount(boundStrategy.strategy)">Sil</button>
                        <button class="btn btn-xs btn-success"
                                ng-show="boundStrategy.state=='INACTIVE'"
                                ng-click="changeAccountBinderState(boundStrategy, true)">
                            <i class="glyphicon glyphicon-play"></i>
                        </button>
                        <button class="btn btn-xs btn-danger"
                                ng-show="boundStrategy.state=='ACTIVE'"
                                ng-click="changeAccountBinderState(boundStrategy, false)">
                            <i class="glyphicon glyphicon-pause"></i>
                        </button>
                        <button class="btn btn-xs btn-primary" ng-click="editBond(strategy.id, account.id)">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>