<div class="container-fluid">
    <div class="page-header">
        <h1>Optimizasyon <small>{{ session.name }}</small>
            <small><button class="btn btn-xs btn-success" ng-click="gotoCreateSession()">Ekle</button> </small></h1>
    </div>
    <div class="row">
        <div class="col-sm-2">{{ session.symbol }} - {{ session.period }}</div>
    </div>
    <div class="row">
            <div class="col-sm-6" ng-class="{'has-error':prerequisite.optStartDate}">
                <label for="startDate" class="control-label">Başlangıç</label>
                <div class="input-group input-group-sm">
                    <input id="startDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           ng-model="startDate" is-open="startDatePopupOpen"
                           datepicker-options="dateOptions" close-text="Kapat" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </div>
            </div>
            <div class="col-sm-6" ng-class="{'has-error':prerequisite.optEndDate}">
                <label for="endDate" class="control-label">Bitiş</label>
                <div class="input-group input-group-sm">
                    <input id="endDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           ng-model="endDate" is-open="endDatePopupOpen"
                           datepicker-options="dateOptions" close-text="Kapat" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <table class="table table-condensed">
                <thead>
                    <th></th>
                    <th>Gen.</th>
                    <th>Score</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="code in session.generatedCodeList | orderBy:'-fitness'" ng-if="notNaN(code.fitness)">
                        <td>
                            <button class="btn btn-xs btn-success"
                                    ng-click="saveAsStrategy(session, code)">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </td>
                        <td> {{ code.generationCount}} </td>
                        <td> {{ code.fitness | decimalFormat}}</td>
                        <td>
                            <button class="btn btn-xs btn-primary"
                                    ng-click="doDetailedBackTest(code, session, startDate, endDate)">
                                Backtest <i class="glyphicon glyphicon-flash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-9">
            <uib-tabset active="activeTab">
                <uib-tab index="$index"
                         ng-repeat="btr in btrList">
                    <uib-tab-heading>
                        <span style="font-size:10px">{{btr.name}}</span>
                        <!--<button class="btn btn-xs btn-default" ng-click="closeBtrTab($index)"><i class="glyphicon glyphicon-remove"></i></button>-->
                    </uib-tab-heading>
                    <div>
                        <uib-tabset active="0">
                            <uib-tab index="0" heading="Genel">
                                    <div class="metric-outer col-sm-3" ng-repeat=" metric in metrics" ng-if="notNaN(btr.results[metric.key])">
                                        <div class="metric-header">{{ metric.label }}</div>
                                        <div class="metric-value {{metric.defaultColorClass}}"
                                             ng-class="[
                                                { 'positive-metric' : !metric.defaultColorClass && btr.results[metric.key] > (metric.level2 ? metric.level2 : 0) },
                                                { 'negative-metric' : !metric.defaultColorClass && btr.results[metric.key] < (metric.level1 ? metric.level1 : 0) },
                                                { 'balanced-metric' : !metric.defaultColorClass && btr.results[metric.key] > (metric.level1 ? metric.level1 : 0) && btr.results[metric.key] < (metric.level2 ? metric.level2 : 0) }
                                             ]">
                                            {{ metric.prefix }}{{ btr.results[metric.key] | decimalFormat : metric.toFixed }}{{ metric.suffix }}
                                            <small class="metric-percent" ng-if="metric.percent">
                                                ( {{ metric.percent.prefix }}{{ btr.results[metric.percent.key] | decimalFormat : metric.percent.toFixed }}{{ metric.percent.suffix }} )
                                            </small>
                                        </div>
                                    </div>
                            </uib-tab>
                            <uib-tab index="$index + 1"
                                     ng-repeat="tab in btr.tabs"
                                     heading="{{tab.title}} Grafik">
                                <div>
                                    <canvas class="chart chart-line" chart-data="tab.data"
                                            chart-labels="tab.labels" chart-options="lineOptions"
                                            chart-dataset-override="datasetOverride">
                                    </canvas>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        </div>
    </div>
</div>